.navBar-design {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 33.78px 147.55px 31.11px 133.33px;
}
.navBar-design-btn {
  padding: 15.11px 21.33px;
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.8);
  border-radius: 8px;
  cursor: pointer;
}
.navBar-design-btn a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 17.78px;
  font-weight: 600;
  line-height: 20.45px;
}
