@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --primary-color: rgb(13, 19, 33);
  --primary-color-opacity: rgba(13, 19, 33, 0.7);
}
body {
  font-family: "Azeret Mono";
}
.azeret-mono-font {
  font-family: "Azeret Mono";
}
.title {
  color: var(--primary-color);
  font-size: 28.45px;
  font-weight: 800;
  line-height: 32.89px;
}
.subtitle {
  color: var(--primary-color-opacity);
  font-size: 14.2px;
  font-weight: 400;
  line-height: 23.1px;
}
.subsection-title {
  color: var(--primary-color-opacity);
  font-size: 21.34px;
  font-weight: 700;
  line-height: 32px;
}
.learn-more-btn {
  color: var(--primary-color-opacity);
  font-size: 17.78px;
  font-weight: 600;
  line-height: 20.45px;
  padding: 10.67px 17.78px;
  border: 1px solid rgb(13, 19, 33);
}
.prog-Lang-name {
  color: var(--primary-color);
  font-size: 21.34px;
  font-weight: 800;
  line-height: 32px;
}
main section {
  margin: 69.33px 133.33px 76.44px;
}
.border {
  border: 2px solid #f00;
}
.center-align {
  text-align: center;
}
